# Imports

In [29]:
import pandas as pd
from sklearn.utils import shuffle
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.naive_bayes import MultinomialNB
from sklearn.metrics import accuracy_score, classification_report

# Load Dataset
data received from https://tatoeba.org/

In [30]:
eng_data = pd.read_csv("data/eng_sentences.tsv", sep="\t", header=None)
spa_data = pd.read_csv("data/spa_sentences.tsv", sep="\t", header=None)

data = pd.concat([eng_data, spa_data])

# Data Pre-Processing
- drop column 0
- Name Columns
- Make text data lowercase
- Shuffle Data

In [31]:
data = data.drop(columns=[0])
data = data.rename(columns={1: 'Lang', 2: 'Text'})
data['Text'] = data['Text'].str.lower()

data = data.sample(frac=1).reset_index(drop=True)

data

        Lang                                               Text
0        spa                                    denunciémoslas.
1        eng                   ziri knows what really happened.
2        eng                                i run a tight ship.
3        eng                     thank you for being my friend.
4        eng  are tom and mary really any good at speaking f...
...      ...                                                ...
2376901  eng                           sami hates this manager.
2376902  eng                     he's expecting that, isn't he?
2376903  spa                          este calor es asfixiante.
2376904  eng                         tom and mary despise john.
2376905  spa             no tengo una oficina en este edificio.

[2376906 rows x 2 columns]

# Split Training and Test Data
20% to test the accuracy

80% for training the model

In [33]:
X_train, X_test, y_train, y_test = train_test_split(data['Text'], data['Lang'], test_size=0.2)

# Vectorize the text for the classifier
This puts the text into a format that can be used with Naive Bayes classifiers

In [ ]:
vectorizedText = CountVectorizer(analyzer='char', ngram_range=(2, 3))  # Use character n-grams
X_train = vectorizedText.fit_transform(X_train)
X_test = vectorizedText.transform(X_test)